USE [RAYEN]
GO
/****** Object:  StoredProcedure [dbo].[WS_HISTORIAL_FIC0267_VISOR]    Script Date: 10-12-2018 16:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WS_HISTORIAL_FIC0267_VISOR]')  AND type = N'P')
exec('CREATE PROCEDURE [dbo].[WS_HISTORIAL_FIC0267_VISOR] AS BEGIN SET NOCOUNT ON; END')
GO

/************************************************************************
NOMBRE DEL PROCEDIMIENTO: WS_HISTORIAL_FIC0267_VISOR
AUTOR: Víctor Coronado
FECHA DE CREACION: 10/12/2018
BASE DE DATOS: RAYEN
OBJETIVO: Entregar listado de funcionarios de un arreglo de atenciones
FECHA DE MODIFICACION: 
USUARIO DE MODIFICACION:  
MOTIVO DE MODIFICACION: 
VISADO POR (QA): 
FECHA APROBACION QA: 
COMENTARIOS QA: 
VISADO POR (DBA): 
FECHA APROBACION DBA: 
COMENTARIOS DBA: 
TABLAS INVOLUCRADAS: FNP_FUNCIONARIO_PRESTADOR, ATEN_ATENCION
************************************************************************/

ALTER PROCEDURE[dbo].[WS_HISTORIAL_FIC0267_VISOR]
(
	@IDS VARCHAR (max)
)
AS
BEGIN

	-- ESTOS SON LOS FUNCIONARIOS DE LA ATENCION
	SELECT     
	FNP.ID ID, 
	ATEN.ID ATEN_ID, 
	NOMBRE_COMPLETO = FNP.APELLIDO_PATERNO + ' ' + FNP.APELLIDO_MATERNO + ' ' + FNP.NOMBRES, 
	FNP.RUT,
	ATEN.INS_ID 
	--RL.INS_ID 

	FROM 
	   FNP_FUNCIONARIO_PRESTADOR FNP 
	--INNER JOIN RL_FNPINS RL ON FNP.ID = RL.ID 
	   INNER JOIN ATEN_ATENCION ATEN ON FNP.ID = ATEN.FNP_ID --AND RL.INS_ID = ATEN.INS_ID    
	   INNER JOIN (select ID from OBTENER_ID(@IDS))  IDS ON IDS.ID = ATEN.ID

	WHERE 
	   ATEN.ELIMINADO=0  AND (ATEN.ID_FUNCIONARIO_CIERRA_ATENCION_URGENCIA IS NULL OR ATEN.ID_FUNCIONARIO_CIERRA_ATENCION_URGENCIA = '')

	   --ESTOS SON LOS FUNCIONARIOS QUE CIERRAN LA ATENCION DE URGENCIA
UNION ALL
	SELECT     
	FNP.ID ID, 
	ATEN.ID ATEN_ID, 
	NOMBRE_COMPLETO = FNP.APELLIDO_PATERNO + ' ' + FNP.APELLIDO_MATERNO + ' ' + FNP.NOMBRES, 
	FNP.RUT,
	ATEN.ID_INSTRUMENTO_CIERRA_ATENCION_URGENCIA as INS_ID 
	--RL.INS_ID 

	FROM 
		FNP_FUNCIONARIO_PRESTADOR FNP 
	--INNER JOIN RL_FNPINS RL ON FNP.ID = RL.ID 
		INNER JOIN ATEN_ATENCION ATEN ON FNP.ID = ATEN.ID_FUNCIONARIO_CIERRA_ATENCION_URGENCIA --AND RL.INS_ID = ATEN.INS_ID    
		INNER JOIN (select ID from OBTENER_ID(@IDS))  IDS ON IDS.ID = ATEN.ID

	WHERE 
		ATEN.ELIMINADO=0  AND ATEN.ID_FUNCIONARIO_CIERRA_ATENCION_URGENCIA > 0

END

