

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

	border: 0;

	font-family: 'Open Sans', sans-serif;

	font-size: 12px;

	font-style: normal;

	font-weight: normal;

	margin: 0;

	outline: 0;

	padding: 0;

	vertical-align: baseline;

}

html {

	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */

	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */

	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */

	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */

}

body{


}

article,

aside,

details,

figcaption,

figure,

footer,

header,

nav,

section {

	display: block;

}

ol, ul {

	list-style: none;

}

table { /* tables still need 'cellspacing="0"' in the markup */

	border-collapse: separate;

	border-spacing: 0;

}

caption, th, td {

	font-weight: normal;

	text-align: left;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: "";

}

blockquote, q {

	quotes: "" "";

}

a:focus {

	outline: thin dotted;

}

a:hover,

a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */

	outline: 0;

}

a img {

	border: 0;

}



/* 2.0 =Global

----------------------------------------------- */



body,

button,

input,

select,

textarea {

	color: #2e3f42;

	font-family: sans-serif;

	font-size: 16px;

	font-size: 1.6rem;

	line-height: 20px;

}

.container{

	width: 1000px;

	margin: 0 auto;

	}

.container:after{

	content: '';

	clear: both;

	}

.clear{

	clear: both;

	}

.left{

	float: left;

	}

.right{

	float: right;

	}

.half-page{

	float: left;

	width: 48%;

	margin-right: 2%;

	margin-bottom: 10px;

	}



/* 2.1 =Headings

-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {

	clear: both;

	margin-bottom: 10px;

}

h1,
h1 span{

	font-size: 30px;

	line-height: 36px;

	}

h2{

	font-size: 24px;

	line-height: 28px;

	}

h3{

	font-size: 20px;

	line-height: 34px;

	}

h4{

	font-size: 16px;

	line-height: 20px;

	}

h5{

	font-size: 14px;

	line-height: 18px;

	}

h6{

	font-size: 12px;

	line-height: 16px;

	}

hr {

	background-color: #ccc;

	border: 0;

	height: 1px;

	margin-bottom: 1.5em;

}



/* 2.2 =Text elements

-------------------------------------------------------------- */

p {

	margin-bottom: 1.5em;

	-ms-word-wrap: break-word;

	word-wrap: break-word;

}

ul, ol {

	margin: 0 0 1.5em 3em;

}

ul {

	list-style: disc;

}

ol {

	list-style: decimal;

}

li > ul,

li > ol {

	margin-bottom: 0;

	margin-left: 1.5em;

}

dt {

	font-weight: bold;

}

dd {

	margin: 0 1.5em 1.5em;

}

b, strong {

	font-weight: bold;

}

dfn, cite, em, i {

	font-style: italic;

}

blockquote {

	margin: 0 1.5em;

}

address {

	margin: 0 0 1.5em;

}

pre {

	background: #eee;

	font-family: "Courier 10 Pitch", Courier, monospace;

	font-size: 15px;

	font-size: 1.5rem;

	line-height: 1.6;

	margin-bottom: 1.6em;

	padding: 1.6em;

	overflow: auto;

	max-width: 100%;

}

code, kbd, tt, var {

	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

}

abbr, acronym {

	border-bottom: 1px dotted #666;

	cursor: help;

}

mark, ins {

	background: #c1d4d7;

	text-decoration: none;

	padding: 0px 2px;

}

sup,

sub {

	font-size: 75%;

	height: 0;

	line-height: 0;

	position: relative;

	vertical-align: baseline;

}

sup {

	bottom: 1ex;

}

sub {

	top: .5ex;

}

small {

	font-size: 75%;

}

big {

	font-size: 125%;

}

figure {

	margin: 0;

}

table {

	margin: 0 0 1.5em;

	width: 100%;

}

th {

	font-weight: bold;

}

img {

	height: auto; /* Make sure images are scaled correctly. */

	max-width: 100%; /* Adhere to container width. */

}

button,

input,

select,

textarea {

	font-size: 100%; /* Corrects font size not being inherited in all browsers */

	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */

	vertical-align: baseline; /* Improves appearance and consistency in all browsers */

	*vertical-align: middle; /* Improves appearance and consistency in all browsers */

}

button,

input {

	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */

}

button,

html input[type="button"],

input[type="reset"],

input[type="submit"] {

	background-color: #eab040;

	padding: 5px;

	font-size: 11px;

	color: #FFF;

	border: none;

	border-radius: 2px;

	cursor: pointer;

}

button:hover,

html input[type="button"]:hover,

input[type="reset"]:hover,

input[type="submit"]:hover {



}

button:focus,

html input[type="button"]:focus,

input[type="reset"]:focus,

input[type="submit"]:focus,

button:active,

html input[type="button"]:active,

input[type="reset"]:active,

input[type="submit"]:active {

}

input[type="checkbox"],

input[type="radio"] {

	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */

	padding: 0; /* Addresses excess padding in IE8/9 */

}

input[type="search"] {

	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */

	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */

	-moz-box-sizing:    content-box;

	box-sizing:         content-box;

}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */

	-webkit-appearance: none;

}

button::-moz-focus-inner,

input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */

	border: 0;

	padding: 0;

}

input[type="text"],

input[type="email"],

input[type="password"],

input[type="search"],

textarea {

	color: #666;

	border: 1px solid #ccc;

	border-radius: 3px;

}

input[type="text"]:focus,

input[type="email"]:focus,

input[type="password"]:focus,

input[type="search"]:focus,

textarea:focus {

	color: #111;

}

input[type="text"],

input[type="email"],

input[type="password"],

input[type="search"] {

	padding: 3px;

}

textarea {

	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */

	padding-left: 3px;

	vertical-align: top; /* Improves readability and alignment in all browsers */

	width: 98%;

}

input[type="search"] {

	padding: 10px 1%;

	width: 97%;

}



/* 2.3 =Links

-------------------------------------------------------------- */

a {

	color: #eab040;
    text-decoration: none;

}

a:visited {

/*	color: #eab040; */

}

a:hover,

a:focus,

a:active {

	color: #363636;

}



/* Alignment */

.alignleft {

	display: inline;

	float: left;

	margin-right: 1.5em;

}

.alignright {

	display: inline;

	float: right;

	margin-left: 1.5em;

}

.aligncenter {

	clear: both;

	display: block;

	margin: 0 auto;

}



/* Text meant only for screen readers */

.screen-reader-text {

	clip: rect(1px, 1px, 1px, 1px);

	position: absolute !important;

}



.screen-reader-text:hover,

.screen-reader-text:active,

.screen-reader-text:focus {

	background-color: #f1f1f1;

	border-radius: 3px;

	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);

	clip: auto !important;

	color: #21759b;

	display: block;

	font-size: 14px;

	font-weight: bold;

	height: auto;

	left: 5px;

	line-height: normal;

	padding: 15px 23px 14px;

	text-decoration: none;

	top: 5px;

	width: auto;

	z-index: 100000; /* Above WP toolbar */

}



/* 2.4 =Clearing

-------------------------------------------------------------- */

.clear:before,

.clear:after,

[class*="content"]:before,

[class*="content"]:after,

[class*="site"]:before,

[class*="site"]:after {

	content: '';

	display: table;

}



.clear:after,

[class*="content"]:after,

[class*="site"]:after {

	clear: both;

}





/* 3.0 =Main Menu

----------------------------------------------- */

.main-menu .main-navigation {

	clear: both;

	display: block;

	float: left;

}

.main-menu .main-navigation ul {

	list-style: none;

	margin: 0;

	padding-left: 0;

}

.main-menu .main-navigation > ul > li {

	position: relative;

	display: inline-block;

	border-left: 1px solid rgba(255,255,255, 0.1);

	border-right: 1px solid rgba(0,0,0,0.2);

	margin-right: -3px;

}

.main-menu .main-navigation > ul > li:first-child{

	border-left: none;

}

.main-menu .main-navigation > ul > li:last-child {

	border-right: none;

}

.main-menu .main-navigation a {

	display: block;

	text-decoration: none;

	padding: 10px 20px;

	color: #cddfe4;

	font-family: 'Droid Sans', sans-serif;

	font-weight: 700;

	text-transform: uppercase;

	font-size: 11px;

}

.main-menu .main-navigation ul ul {

	display: none;

	float: left;

	position: absolute;

		top: 38px;

		left: 0;

	z-index: 99999;

	background-color: #075e77;

}

.main-menu .main-navigation ul ul ul {

	left: 100%;

	top: 0;

}

.main-menu .main-navigation ul ul a {

	width: 200px;

}

.main-menu .main-navigation ul ul li {

	border-top: 1px solid rgba(255,255,255, 0.1);

	border-bottom: 1px solid rgba(0,0,0,0.2);

}

.main-menu .main-navigation li:hover > a {

	color: #FFF;

}

.main-menu .main-navigation ul ul :hover > a {

	color: #FFF;

}

.main-menu .main-navigation ul ul a:hover {

	color: #FFF;

}

.main-menu .main-navigation ul li:hover > ul {

	display: block;

}

.main-menu .main-navigation li.current_page_item a,

.main-menu .main-navigation li.current-menu-item a {

}


/* 4.0 =Header

----------------------------------------------- */

.site-header{}

.site-header:after{

	content: '';

	clear: both;

	}

.header-middle-wrap{

	width: 100%;

	float: left;

	border-top: 1px solid rgba(255,255,255, 0.5);

    background-image: url(images/shadow-header.png);

    background-color: #008fb8;

    background-position: bottom;

    background-repeat: repeat-x;
}

.logo{

	float: left;

	text-align: left;

	}

.logo a.site-description-a {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
}
	

.logo a.site-title-a {
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 20px;
	padding-right: 20px;
}

.logo a.site-logo-a {
	padding:20px 20px 20px 0px;
}

.logo a{

	display: block;

	font-size: 30px;

	text-align: center;

	text-decoration: none;

	line-height: 42px;

	color: #eab040;

	padding: 20px;

	}

.logo a:hover{

	color: #33bad2;

	}

.logo a span{

	color: #2e3f42;

	display: block;

	line-height: 16px;

	}

.ad-header{

	float: right;

	padding: 25px 0px 20px;

	}

.ad-header > div{

	}

.banner-link{

	overflow: hiddenp;

	}



/* 4.1 =Main Menu

----------------------------------------------- */

.main-menu{

	float: left;

	width: 100%;

	clear: both;

	background-color: #075e77;

	}



/* search form */

.main-menu .search-form{

	float: right;
	position: relative;
	margin: 7px 5px 7px 0;

	}

.main-menu input[type="search"] {

	padding: 5px;

	}

.main-menu input[type="search"]{

	color: #FFf;

	border: none;

	border-radius: 0;

	width: 150px;

	background: transparent;

	background: rgba(255,255,255,.1);

	border: 1px solid rgba(255,255,255,0.2);

	}

.main-menu .search-form input[type="submit"]{

	background: url(images/magnifier-icon.png) 5px 5px no-repeat;

	text-indent: -99999px;

	width: 23px;

	height: 23px;

	margin-left: -27px;

	position: absolute;
	
	right: 0;
	
	top: 0;

}

.main-menu .search-form .bg-input-search{

	background: rgba(255,255,255,0.2);

	border: 1px solid rgba(255,255,255,.3);

}


.main-menu input[type="button"], input[type="submit"] {

	}

.main-menu input[type="button"]:hover, input[type="submit"]:hover {

	}



/* 4.2 =Header Top Menu

----------------------------------------------- */


.header-top{

	float: left;

	width: 98%;

	background: #363636;

	padding: 2px 1%;

	}

.social-icons-header{

	float: right;

	margin-top: 5px;

	}

.header-top .main-navigation {

	float: left;

	display: block;

	float: left;

	}

.header-top .main-navigation ul {

	list-style: none;

	margin: 0;

	padding-left: 0;

	}

.header-top .main-navigation li, .header-top .container .menu ul li {
	list-style:none;

	float: left;

	position: relative;

	}

.header-top .main-navigation a, .header-top .container .menu ul li a {

	display: block;

	text-decoration: none;

	padding: 5px;

	font-size: 12px;

	color: #939598;

	font-family: 'Droid Sans', sans-serif;

	font-weight: 400;

	}

.header-top .main-navigation .current_page_item a {

	font-weight: 700;

	color: #FFFFFF;

}

.header-top .main-navigation ul ul {

	display: none;

	float: left;

	position: absolute;

		top: 26px;

		left: 0;

	z-index: 99999;

	background-color: #eeeeee;

}

.header-top .main-navigation ul ul ul {

	left: 100%;

	top: 0;

	}

.header-top .main-navigation ul ul a {

	width: 200px;

	}

.header-top .main-navigation ul ul li {

	}

.header-top .main-navigation li:hover > a {

	color: #FFF;

	}

.header-top .main-navigation ul ul :hover > a {

	color: #FFF;

	}

.header-top .main-navigation ul ul a:hover {

	color: #FFF;

	}

.header-top .main-navigation ul li:hover > ul {

	display: block;

	}

.header-top .main-navigation li.current_page_item a,

.header-top .main-navigation li.current-menu-item a {

	}



/* 5.0 =Slide

----------------------------------------------- */

.slider-front-page{

	width: 100%;

	margin-bottom: 10px;

	}

.rslides {

  	margin: 0 auto 40px;

  	}

.rslides_tabs {

  	list-style: none;

  	padding: 0;

  	background: rgba(0,0,0,.25);

  	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);

  	font-size: 18px;

  	list-style: none;

  	margin: 0 auto 50px;

  	max-width: 540px;

  	padding: 10px 0;

  	text-align: center;

  	width: 100%;

  	}

.rslides_tabs li {

  	display: inline;

  	float: none;

  	margin-right: 1px;

  	}

.rslides_tabs a {

  	width: auto;

  	line-height: 20px;

  	padding: 9px 20px;

  	height: auto;

  	background: transparent;

  	display: inline;

  	}

.rslides_tabs li:first-child {

  	margin-left: 0;

  	}

.rslides_tabs .rslides_here a {

  	background: rgba(255,255,255,.1);

  	color: #fff;

  	font-weight: bold;

  	}

.events {

  	list-style: none;

  	}

.callbacks_container {

  	position: relative;

  	float: left;

  	width: 66%;

  	}
.callbacks {

  	position: relative;

  	list-style: none;

/*  	overflow: hidden; */

	overflow: visible;

  	width: 100%;

  	padding: 0;

  	margin: 0;

  	}

.callbacks li {

  	position: absolute;

  	width: 100%;

  	left: 0;

  	top: 0;

  	}

.callbacks img {

  	display: block;

  	position: relative;

  	z-index: 1;

  	height: auto;

  	width: 100%;

  	border: 0;

  	}

.callbacks .caption {

	display: block;

	position: absolute;

	z-index: 2;

	font-size: 12px;

	line-height: 16px;

	text-shadow: none;

	color: #c1d4d7;

	background: rgba(0,0,0,1);

	margin: 0;

	border-style: solid;

	border-top: none;

	border-right: none;

	border-left: none;

	width: 46%;

	right: -51.5%;

	height: 100%;

	padding: 0 20px;

	font-family: 'Droid Sans', sans-serif;

  }

.callbacks .caption span.title-c{

	margin-top: 20px;

	clear: both;

	display: block;

	color: #FFF;

	font-family: 'Droid Sans', sans-serif;

	font-weight: 700;

	text-transform: uppercase;

	font-size: 18px;

	}

.callbacks .caption span.content-c{

	margin-top: 20px;

	display: block;

}

.btn-slider{

	background: #eab040;

	float: left;

	padding: 5px 10px;

	font-family: 'Droid Sans', sans-serif !important;

	font-weight: 700;

	text-transform: uppercase;

	font-size: 14px !important;

	clear: both !important;

	display: block !important;

}

.btn-slider:hover{

	color: #000000 !important;

	background: #FFF;

}

.callbacks_nav {

  	position: absolute;

  	-webkit-tap-highlight-color: rgba(0,0,0,0);

  	top: 52%;

  	left: 0;

  	opacity: 0.7;

  	z-index: 3;

  	text-indent: -9999px;

  	overflow: hidden;

  	text-decoration: none;

  	height: 61px;

  	width: 38px;

  	background: transparent url("images/themes.gif") no-repeat left top;

  	margin-top: -45px;

  	}

.callbacks_nav:active {

  	opacity: 1.0;

  	}

.callbacks_nav.next {

  	left: auto;

  	background-position: right top;

  	right: 0;

  	}

.rslides {

  	position: relative;

  	list-style: none;

/*  	overflow: hidden; */

 	overflow: visible !important;

  	width: 100%;

  	padding: 0;

  	margin: 0;

  	}

.rslides li {

  	-webkit-backface-visibility: hidden;

  	position: absolute;

	display: none;

	width: 100%;

	left: 0;

	top: 0;

	}

.rslides li:first-child {

 	position: relative;

	display: block;

	float: left;

 	}

.rslides img {

	display: block;

	height: auto;

	float: left;

	width: 100%;

	border: 0;
	height:350px!important;

	}

.callbacks_tabs{

	right: 25px;

	top: 10px;

	position: absolute;

	z-index: 99;

	overflow: hidden;

	}

.callbacks_tabs li{

	list-style: none;

	width: 15px;

	height: 15px;

	display: inline;

	float: left;

	margin: 0 5px 0 0;

	}

.callbacks_tabs li a{

	width: 9px;

	height: 9px;

	text-indent: 999999px;

	float: left;

	margin-right: 10px;

	-webkit-border-radius: 50%;

	-moz-border-radius: 50%;

	border-radius: 50%;

	border-width: 3px;

	border-style: solid;

	border-color: #aaaaaa;

	}

.callbacks_tabs li a:hover{

	background-color: #eab040;

	}

.callbacks_here a{

	background-color: #eab040;

	border: 3px solid #eab040;

	}
.hp-slider-wrap{

	position: relative;

	margin-top: 30px;

	border-top-color: #eab040;

	border-top-style: solid;

	border-top-width: 3px;

	float: left;

	width: 100%;

	height:350px;

}


/* 6.0 =Content

----------------------------------------------- */

body{

	background-image: url(images/bg-page.jpg);
    background-color: #ededed;

}

.sticky {

	}

.hentry {

	margin: 0 0 20px;

	}

.byline,

.updated {

	display: none;

	}

.single .byline,

.group-blog .byline {

	display: inline;

	}

.page-content,

.entry-content,

.entry-summary {

	margin: 1.5em 0 0;

	}

.page-links {

	clear: both;

	margin: 0 0 1.5em;

}

.sidebar-left .content-area{

	float: right;

	width: 63%;

	}

.sidebar-right .content-area{

	float: left;

	width: 63%;

	overflow: hidden;

	}

.full-width .content-area{

	float: left;

	width: 98%;

	}

.page-content input[type="search"]{

	width: 75%;

	}

.page-content input[type="submit"]{

	padding: 11px;

	}

.template-page .content-area{

	float: left;

	width: 63%;
	margin-top:20px;

	}

.template-page .sidebar{

	float: right;

	width: 34%;

	}
widget_tag_cloud a{

    text-decoration: none;

    }


/* 6.1 =Content homepage

----------------------------------------------- */

.readmore {
	padding:10px;
	float:right;
}

.customfp ul{

	margin: 0;

	min-height: 520px;

}

.front-page-boxes ul	{
	margin: 0;
}

.front-page-boxes ul li{

	list-style: none;

	width: 100%;

	min-height: 75px;

	float: left;

	clear: both;

	padding-bottom: 10px;

	margin-bottom: 10px;

	border-bottom: 1px solid #EBEBEB;

	}

.front-page-boxes ul li a{

	color: #2e3f42;

	text-decoration: none;

	-ms-word-wrap: break-word;

	word-wrap: break-word;

	text-decoration: none;

	font-family: 'Open Sans', sans-serif;

	font-size: 13px;

	}

.front-page-boxes ul li a:hover{

	color: #000;

	}

.front-page-boxes ul li.title-categ{

	border-width: 4px;

	border-style: solid;

	border-color: #eab040;

	border-top: none;

	border-left: none;

	border-right: none;

	width: 100%;

	min-height: 20px !important;

	padding: 2px 0 2px 0 !important;]

	}

.title-categ span{

	font-size: 12px;

	color: #FFF;

	background-color: #eab040;

	padding: 0 10px 0 10px;

	font-family: 'Droid Sans', sans-serif;

	font-weight: 700;

	text-transform: uppercase;

	min-width: 150px;

	display: inline-block;

	line-height: 36px;

	margin-bottom: -4px;

	}

.box-hp-big{

	float: left;

	width: 100%;

	}
.box-hp-big .front-page-boxes:nth-child(odd){

	clear: left;

}
.box-hp-big .front-page-boxes:nth-child(even){

	clear: right;

}

/* 6.2 =Contact page

----------------------------------------------- */

.cotnact-form-wrap{

	}

.content-contact{

	margin: 20px 0;

	}

.cotnact-form-wrap ul{

	margin: 0;

	padding: 0;

	}

.cotnact-form-wrap li{

	list-style: none;

	margin-bottom: 10px;

	}

.cotnact-form-wrap label{

	width: 50px;

	float: left;

	display: inline-block;

	}

.cotnact-form-wrap input {

	width: 96%;

	padding: 7px 1%;

	}

.cotnact-form-wrap input[type="submit"]{

	width: 100px;

	}

.messsage_sent{

	color: #060;

	}

.messsage_error{

	color: #F00;

	}



/* 7.0 =Article

----------------------------------------------- */

h1.entry-title{

	clear: none;

	-ms-word-wrap: break-word;

	word-wrap: break-word;

	line-height: 34px;

    color: #eab040;

    font-size: 24px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

	}

h1.entry-title a{

	text-decoration: none;

    color: #eab040;

    font-size: 24px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

	}

h1.entry-title a:hover{

	color: #363636;

	}

article{

	padding-bottom: 30px;

	}

article .entry-content{

    margin: 10px 0 0 0;

    background: #FFF;

    padding: 20px 10px 0 10px;

	border-top-color: #eab040;

	border-top-style: solid;

	border-top-width: 4px;

	}

article .entry-content p{

    color: #363636;

    text-decoration: none;

    font-family: 'Open Sans', sans-serif;

    font-size: 13px;

}

.entry-meta{

    padding-top: 5px;

    background: #dfdfdf;

    margin-bottom: 0;

    padding-left: 10px;

    margin-left: -10px;

    margin-right: -10px;

    clear: both;

    }

.entry-meta a{

    font-size: 11px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    color: #a0a3a5;

    text-decoration: none;

}

.entry-meta a:hover{

    color: #eab040;

}

.author-link a{

    padding-left: 18px;

    background: url(images/icon-meta.png) 0 0 no-repeat;

    font-size: 11px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    color: #a0a3a5;

    text-decoration: none;

    margin-left: 10px;

}

.author-link a:hover,
.comments-number:hover{

    color: #eab040;

}

.comments-number{

    padding-left: 18px;

    background: url(images/icon-meta.png) 0px -41px no-repeat;

    font-size: 11px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    color: #a0a3a5;

    text-decoration: none;

    margin-left: 20px;

}
.post-time{

    padding-left: 18px;

    background: url(images/icon-meta.png) 0px -85px no-repeat;

    font-size: 11px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    color: #a0a3a5;

    text-decoration: none;

    line-height: 20px;

    float: right;

    margin-right: 20px;

}

h1.page-title{

	border-width: 1px;

	margin-top:5px;

	padding: 15px 15px 0 0;

	margin-bottom: 10px;

    color: #eab040;

    font-size: 24px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

	}

h1.page-title span{

	font-size: 24px;

	color: #000000;

}

.page-header{

	margin-bottom: 30px;

	}
.read-more-btn{

    background: #eab040;

    color: #FFF;

    font-size: 14px;

    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    width: 100%;

    text-align: center;

    text-decoration: none;

    padding: 6px 0;

    margin-top: 20px;

    margin-bottom: 20px;

}
.read-more-btn:hover{

    color: #363636;

}

.entry-content-right{

    width: 140px;

    float: right;

    margin-left: 20px;

}

.entry-content-right a{

    float: right;

}

/* 8.0 =Post

----------------------------------------------- */

.post .entry-header, .page .entry-header{

	margin-bottom: 20px;

	}

.post .entry-header a, .page .entry-header a{

	text-decoration: none;

	}

.post-entry-meta{

	margin-bottom: 10px;

	background: #eee;

/*	padding-left: 5px; */

	margin-top: 5px;

    background: none;

}

.page .entry-header{

	}



/* 9.0  =Asides

----------------------------------------------- */



.blog .format-aside .entry-title,

.archive .format-aside .entry-title {

	display: none;

}



/* 10.0 =Media

----------------------------------------------- */



.page-content img.wp-smiley,

.entry-content img.wp-smiley,

.comment-content img.wp-smiley {

	border: none;

	margin-bottom: 0;

	margin-top: 0;

	padding: 0;

}

.wp-caption {

	border: 1px solid #ccc;

	margin-bottom: 1.5em;

	max-width: 100%;

}

.wp-caption img[class*="wp-image-"] {

	display: block;

	margin: 1.2% auto 0;

	max-width: 98%;

}

.wp-caption-text {

	text-align: center;

}

.wp-caption .wp-caption-text {

	margin: 0.8075em 0;

}

.site-content .gallery {

	margin-bottom: 1.5em;

}

.gallery-caption {

}

.site-content .gallery a img {

	border: none;

	height: auto;

	max-width: 90%;

}

.site-content .gallery dd {

	margin: 0;

}

.site-content .gallery-columns-4 .gallery-item {

}

.site-content .gallery-columns-4 .gallery-item img {

}



/* Make sure embeds and iframes fit their containers */

embed,

iframe,

object {

	max-width: 100%;

}



/* 11.0 =Navigation

----------------------------------------------- */



.site-content [class*="navigation"] {

	margin: -10px 0 4em;

	overflow: hidden;

	}

[class*="navigation"] .nav-previous {

	float: left;

	width: 50%;

	}

[class*="navigation"] .nav-next {

	float: right;

	text-align: right;

	width: 50%;

	}

[class*="navigation"] .nav-next a, [class*="navigation"] .nav-previous a{

	color: #2e3f42;

	}

[class*="navigation"] .nav-next a:hover, [class*="navigation"] .nav-previous a:hover{

	color: #eab040;

	}

.navigation{

	margin-top: -20px;

	float: left;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;

}

.pagination {

	clear: both;

	position: relative;

	font-size: 11px;

	line-height: 13px;

	}

.pagination span, .pagination a, .pagination a:visited {

	display: block;

	float: left;

	margin: 2px 2px 2px 0;

	padding: 6px 9px 5px 9px;

	text-decoration: none;

	width: auto;

	color: #2e3f42;


	}

.pagination a:hover{

	background: #eab040;

	color: #FAFAFA;

	}

.pagination .current{

	padding: 6px 9px 5px 9px;

	background-color: #eab040;

	color: #FAFAFA;

	}



/* 12.0 =Comments

----------------------------------------------- */

.comment-list{

    margin-left: 0;
}

.comment-list li {
	list-style:none;
}

.comment-content a {

	word-wrap: break-word;

	}

.bypostauthor {

	}

.comment-body{

	padding: 10px 0;

	}

.comment-author{

	background-color: #FFF;

	padding: 4px;

	height: 48px;

	margin-bottom: 5px;

	}

.comment p{

	margin-bottom: 0px !important;

	}

.comment-author img{

	}

.children{

	list-style: none;

	}

p.fn, .commentmetadata{

	display: inline-block;

	}

.avarat_comment{

	float: left;

	}

.commentmeta_wrap{

	float: left;

	margin: 25px 0 0 15px;

	}

.reply{

	margin-bottom: 20px;

	}

.comment {

	list-style: none;

	}

.comments-title, .comments-title span{

	font-size: 14px;

	margin-bottom: 20px;

	}

.comments-title span{

	color:#999;

	}

.comment-meta a, .comment-meta a:visited{

	color: #333;

	}



/* 13.0 =Sidebar

----------------------------------------------- */

.sidebar{

	padding: 30px 0;

	}

.sidebar-left .sidebar{

	float: left;

	}

.sidebar-right .sidebar{

	float: right;

	}

.full-width .sidebar{

	display: none;

	}

.banner-wrap{

	width: 100%;

	}

.sidebar,
.sidebar p,
.sidebar span,
.sidebar a{

    font-family: 'Open Sans', sans-serif;

    font-size: 13px;

    }

/* 14.0 =Widgets

----------------------------------------------- */



.widget {

	margin: 0 2% 30px;

	}

header .widget {

	margin: 0;

	}

.widget-title{

	border-width: 4px;

	border-style: solid;

	border-color: #eab040;

	border-top: none;

	border-left: none;

	border-right: none;

	margin-bottom: 20px;

	font-size: 13px;

	height: 32px;

    padding-bottom: 1px;

	}

.widget-title span{

    font-size: 12px;

    color: #FFF;

    background-color: #eab040;

    padding: 0 10px 0 10px;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    text-transform: uppercase;

    min-width: 150px;

    display: inline-block;

}

.widget-title a{

	font-size: 12px;

    color: #FFF;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    text-transform: uppercase;

}

.widget ul{

	margin: 0px 0 0 15px;

	}

.widget ul li{

	list-style: none;

	padding: 2px 0;

	color: #eab040;

    list-style-type: square;

    font-family: 'Open Sans', sans-serif;

    }

.widget ul li a{

	color: #363636;

	text-decoration: none;

    font-family: 'Open Sans', sans-serif;

    font-size: 13px;

	}

.widget ul li a:hover{

	color: #eab040;

	}

/* Make sure select elements fit in widgets */

.widget select {

    max-width: 100%;

    padding: 5px;

    border: 1px solid #ccc;

    width: 100%;

	}



/* Search widget */

.widget_search .search-submit {

/*	display: none; */

	padding: 11px 6px;

	border-radius: 0;

	}
.widget_search input[type="search"]{

	padding: 10px 1%;

	width: 82%;

	border-radius: 0;

}


/* =Infinite Scroll

----------------------------------------------- */



/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */

	display: none;

	}



/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

.infinity-end.neverending .site-footer {

	display: block;

	}



/* 15.0 =Footer

----------------------------------------------- */

.site-footer{

    background-color: #363636;

}
.site-footer,
.site-footer a,
.site-footer p,
.site-footer span,{
    font-family: 'Droid Sans', sans-serif;
}
.site-footer a:hover{

    color: #FFF;

    }
.site-footer .container{

	padding-top: 30px;

	}

.widget-footer{

	width: 23%;

	float: left;

	margin-right: 1%;

	margin-left: 1%;

	}

.footer-title{

	font-size: 18px;

	color: #f3f3f3;

	margin-bottom: 20px;

    font-family: 'Droid Sans', sans-serif;

    font-weight: 700;

    text-transform: uppercase;

	}

.widget-footer, .widget-footer li, .widget-footer ul li a{

	color: #939598;

	}

.widget-footer ul li a:hover{

	color: #eab040;

	text-decoration: underline;

	}

.widget-footer a{

	text-decoration: none;

	}

.widget-footer ul{

	margin: 0 0 0 15px;

	}

.widget-footer ul li{

	list-style: none;

	}

.widget-footer ul li:before{

	content: '+';

	padding-right: 5px;

	color: #CCC;

	}

.widget-footer li a{

	}

.copyright{

	width: 98%;

	clear: both;

	color: #f3f3f3;


	padding: 6px 1%;

	float: left;

	font-size: 11px;

	}

.copyright strong{

	font-weight: normal;

	color: #eab040;

	}



/* 16.0 =Social icons

----------------------------------------------- */

@font-face {

    font-family: 'Mono Social Icons Font';

    src: url('fonts/MonoSocialIconsFont-1.10.eot');

    src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),

         url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'),

         url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),

         url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');

    src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

	}

.symbol, a.symbol:before {

    font-family: 'Mono Social Icons Font';

    -webkit-text-rendering: optimizeLegibility;

    -moz-text-rendering: optimizeLegibility;

    -ms-text-rendering: optimizeLegibility;

    -o-text-rendering: optimizeLegibility;

    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;

    -moz-font-smoothing: antialiased;

    -ms-font-smoothing: antialiased;

    -o-font-smoothing: antialiased;

    font-smoothing: antialiased;

	}

a.symbol:before {

    content: attr(title);

	margin-right: 0.3em;

    font-size: 200%;

	}

a.symbol{

	text-decoration: none;

	}

.social-icons-header a{

	position: relative;

	width: 10px;

	height: 10px;

	text-decoration: none;

	}

.social-icons-header a span{

	font-size: 29px;

	margin-top: 4px;

	color: #FFF;

	}







/* Calendar Widget */
.widget_calendar table,
.widget_calendar td {
	border: 0;
	border-collapse: separate;
	border-spacing: 1px;
}

.widget_calendar caption {
	font-size: 14px;
	margin: 0;
}

.widget_calendar th,
.widget_calendar td {
	padding: 0;
	text-align: center;
}

.widget_calendar a {
	display: block;
}

.widget_calendar a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.5);
}

.site-footer .widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.05);
}

.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
	background-color: transparent;
}

.widget .tagcloud a{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0px 3px;
}
.widget_calendar th{
	background-color: rgba(0,0,0, .1);
}
.widget_calendar tfoot #prev a,
.widget_calendar tfoot #prev a:hover {
	text-align: left;
	background: none;
}
.widget_calendar tfoot #next a,
.widget_calendar tfoot #next a:hover {
	text-align: right;
	background: none;
}
.widget_calendar tbody a{
	background-color: rgba(0,0,0, .1);
}

/* 17.0 =Responsive

----------------------------------------------- */



/* responsive menu */

.tinynav {

	display: none;

	}

#nav .selected a,

#nav2 .selected a {

	color: red;

	}



/* desktop */

@media (max-width: 1000px) {

	.container{

		width: 98%;

		padding: inherit 1%;

		}

	.logo{

		width: 96%;

		text-align: center;

		}

	.ad-header{

		width: 100%;

		text-align: center;

		}

	.main-menu .search-form {

		width: 97%;

		text-align: center;

		}

	.main-menu .main-navigation{

		width: 100%;

		}

	.main-menu .main-navigation ul{

		text-align: center;

		}

}



/* tablet */

@media (max-width: 767px) {

	.logo{

		text-align: center;

		}

	.ad-header{

		display: none;

		}

	.widget-footer{

		width: 48%;

		margin-bottom: 10px;

		}

	.sidebar{

		float: left;

		width: 100% !important;

		}

	.content-area{

		float: left;

		width: 98% !important;
		
		 margin-right:20% !important;

		}

	.header-top .main-navigation{

		width: 100%;

		}

	.tinynav2{

		padding: 3px;

		-webkit-border-radius: 0px;

		-moz-border-radius: 0px;

		border-radius: 0px;

		border: none;

		}

	.social-icons-header a{

		float: none;

		}

	.social-icons-header {

		width: 100%;

		text-align: center;

		margin-top: 0;

		}

	.main-menu .main-navigation{

		width: 100%;

		}

	.tinynav1{

		padding: 5px;

		-webkit-border-radius: 0px;

		-moz-border-radius: 0px;

		border-radius: 0px;

		border: none;

		}

	.tinynav {

		display: block;

		width: 70%;

		margin: 5px auto;

		}

	#nav, #nav2 {

		display: none;

		}

	.copyright{

		text-align: center;

		}

	.callbacks_container{

		width: 100%;

	}
	.callbacks .caption{

		position: relative;

		right: 0;

		float: left;

		width: 90%;

		padding: 20px 5%;

	}

}



/* phone */

@media (max-width: 480px) {

	.half-page{

		width: 100%;

		}

	.widget-footer{

		width: 98%;

		margin-bottom: 10px;

		}

	.callbacks .caption{

		display: none;

		}

	.entry-content-right {

		float: none;

		margin: 0 auto;

	}

}


