USE [SALUD_TE_INTEGRA]
GO
/****** Object:  Table [dbo].[ROL_ROLES]    Script Date: 13/03/2018 22:07:22 ******/
DROP TABLE [dbo].[ROL_ROLES]
GO
/****** Object:  Table [dbo].[RI_REGISTRO_IMPRESION]    Script Date: 13/03/2018 22:07:22 ******/
DROP TABLE [dbo].[RI_REGISTRO_IMPRESION]
GO
/****** Object:  Table [dbo].[PRE_PARAMETROS_ECOL]    Script Date: 13/03/2018 22:07:22 ******/
DROP TABLE [dbo].[PRE_PARAMETROS_ECOL]
GO
/****** Object:  Table [dbo].[PER_PERSONA]    Script Date: 13/03/2018 22:07:22 ******/
DROP TABLE [dbo].[PER_PERSONA]
GO
/****** Object:  Table [dbo].[ECO_ENTIDAD_CONTRATANTE]    Script Date: 13/03/2018 22:07:22 ******/
DROP TABLE [dbo].[ECO_ENTIDAD_CONTRATANTE]
GO
/****** Object:  Table [dbo].[AUS_AUTENTIFICACION_USUARIO]    Script Date: 13/03/2018 22:07:22 ******/
DROP TABLE [dbo].[AUS_AUTENTIFICACION_USUARIO]
GO
/****** Object:  Table [dbo].[AUS_AUTENTIFICACION_USUARIO]    Script Date: 13/03/2018 22:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUS_AUTENTIFICACION_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](250) NULL,
	[PASSWORD] [varchar](250) NULL,
	[ELIMINADO] [int] NULL,
	[ACTIVO] [int] NULL,
	[FECHA_CREACION] [varchar](50) NULL,
	[ECOL_ID] [int] NULL,
	[ROL_ID] [int] NULL,
 CONSTRAINT [PK_AUS_AUTENTIFICACION_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ECO_ENTIDAD_CONTRATANTE]    Script Date: 13/03/2018 22:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECO_ENTIDAD_CONTRATANTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RAZON_SOCIAL] [varchar](250) NULL,
	[FECHA_INICIO_CONTRATO] [datetime] NULL,
	[REG_ID] [int] NULL,
	[COM_ID] [int] NULL,
	[DIRECCION] [varchar](500) NULL,
	[RESTO_DIRECCION] [varchar](500) NULL,
	[NUMERO_DIRECCION] [varchar](250) NULL,
	[ACTIVO] [int] NULL,
	[ELIMINADO] [int] NULL,
 CONSTRAINT [PK_ECO_ENTIDAD_CONTRATANTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PER_PERSONA]    Script Date: 13/03/2018 22:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](250) NULL,
	[APELLIDO_PATERNO] [varchar](250) NULL,
	[APELLIDO_MATERNO] [varchar](250) NULL,
	[RUN] [varchar](50) NULL,
	[CORREO_ELECTRONICO] [varchar](250) NULL,
	[TELEFONO_CONTACTO_UNO] [varchar](50) NULL,
	[TELEFONO_CONTACTO_DOS] [varchar](50) NULL,
	[ACTIVO] [int] NULL,
	[ELIMINADO] [int] NULL,
	[AUS_ID] [int] NULL,
 CONSTRAINT [PK_PER_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRE_PARAMETROS_ECOL]    Script Date: 13/03/2018 22:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRE_PARAMETROS_ECOL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ECOL_ID] [int] NULL,
	[ENVIA_CORREO] [int] NULL,
	[LOGO_UNO] [varchar](500) NULL,
	[LOGO_DOS] [varchar](500) NULL,
	[MUESTRA_LOGO_UNO] [int] NULL,
	[MUESTRA_LOGO_DOS] [int] NULL,
	[TOPE_USUARIOS] [int] NULL,
	[FECHA_TERMINO_CONTRATO] [varchar](50) NULL,
	[ACTIVO] [int] NULL,
	[ELIMINADO] [int] NULL,
 CONSTRAINT [PK_PRE_PARAMETROS_ECOL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RI_REGISTRO_IMPRESION]    Script Date: 13/03/2018 22:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RI_REGISTRO_IMPRESION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AUS_ID] [varchar](250) NULL,
	[FECHA] [varchar](50) NULL,
	[FECHA_ATENCION] [varchar](50) NULL,
	[RUN] [varchar](50) NULL,
	[ECOL_ID] [int] NULL,
 CONSTRAINT [PK_RI_REGISTRO_IMPRESION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROL_ROLES]    Script Date: 13/03/2018 22:07:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
	[DESCRIPCION] [varchar](500) NULL,
	[ACTIVO] [int] NULL,
	[ELIMINADO] [int] NULL,
 CONSTRAINT [PK_ROL_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AUS_AUTENTIFICACION_USUARIO] ON 

GO
INSERT [dbo].[AUS_AUTENTIFICACION_USUARIO] ([ID], [NOMBRE_USUARIO], [PASSWORD], [ELIMINADO], [ACTIVO], [FECHA_CREACION], [ECOL_ID], [ROL_ID]) VALUES (1, N'vcoronado', N'MQAyADMANAA1ADYANwA=', 0, 1, N'23-02-2018 00:00', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[AUS_AUTENTIFICACION_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[ECO_ENTIDAD_CONTRATANTE] ON 

GO
INSERT [dbo].[ECO_ENTIDAD_CONTRATANTE] ([ID], [RAZON_SOCIAL], [FECHA_INICIO_CONTRATO], [REG_ID], [COM_ID], [DIRECCION], [RESTO_DIRECCION], [NUMERO_DIRECCION], [ACTIVO], [ELIMINADO]) VALUES (1, N'Rayen Salud', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 13, 30, N'prueba', N' ', N'480', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[ECO_ENTIDAD_CONTRATANTE] OFF
GO
SET IDENTITY_INSERT [dbo].[PER_PERSONA] ON 

GO
INSERT [dbo].[PER_PERSONA] ([ID], [NOMBRES], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [RUN], [CORREO_ELECTRONICO], [TELEFONO_CONTACTO_UNO], [TELEFONO_CONTACTO_DOS], [ACTIVO], [ELIMINADO], [AUS_ID]) VALUES (1, N'Victor', N'Coronado', N'Alarcon', N'', N'vcoronado.alarcon@gmail.com', N'', N'', 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[PER_PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[PRE_PARAMETROS_ECOL] ON 

GO
INSERT [dbo].[PRE_PARAMETROS_ECOL] ([ID], [ECOL_ID], [ENVIA_CORREO], [LOGO_UNO], [LOGO_DOS], [MUESTRA_LOGO_UNO], [MUESTRA_LOGO_DOS], [TOPE_USUARIOS], [FECHA_TERMINO_CONTRATO], [ACTIVO], [ELIMINADO]) VALUES (1, 1, 1, NULL, NULL, 0, 0, 100, N'11-03-2019', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[PRE_PARAMETROS_ECOL] OFF
GO
SET IDENTITY_INSERT [dbo].[RI_REGISTRO_IMPRESION] ON 

GO
INSERT [dbo].[RI_REGISTRO_IMPRESION] ([ID], [AUS_ID], [FECHA], [FECHA_ATENCION], [RUN], [ECOL_ID]) VALUES (1, N'1', N'11-03-2018 16:58', N'20-11-2017 3:00', N'213279572', 1)
GO

SET IDENTITY_INSERT [dbo].[RI_REGISTRO_IMPRESION] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL_ROLES] ON 

GO
INSERT [dbo].[ROL_ROLES] ([ID], [NOMBRE], [DESCRIPCION], [ACTIVO], [ELIMINADO]) VALUES (1, N'Super Administrador', N'Todo el Sistema', 1, 0)
GO
INSERT [dbo].[ROL_ROLES] ([ID], [NOMBRE], [DESCRIPCION], [ACTIVO], [ELIMINADO]) VALUES (2, N'Administrador Establecimiento', N'Admin del establecimiento', 1, 0)
GO
INSERT [dbo].[ROL_ROLES] ([ID], [NOMBRE], [DESCRIPCION], [ACTIVO], [ELIMINADO]) VALUES (3, N'Usuario Establecimiento', N'usuario', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[ROL_ROLES] OFF
GO
