<ion-header style="background-color: #488aff; color: white;">
    <ion-navbar>
      <ion-title>
        Reservar Día
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="restaurant.Foto">
      </ion-avatar>
      <h2>{{ restaurant.Nombre }}</h2>
      <p text-wrap>{{restaurant.Direccion}}</p>
      <p text-wrap><strong>{{restaurant.Tipo}}</strong></p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item text-wrap>
      <p text-justify>Usted está reservando la {{mesaSeleccionada.Nombre}} para {{mesaSeleccionada.Cantidad}} personas, a continuación seleccione el día y la hora que desea reservarla y luego presione el botón "Reservar".</p>
    </ion-item>
  </ion-list>
  <ion-card>

      <ion-card-header>
        Hora Seleccionada
      </ion-card-header>
    
      <ion-card-content>
          <h3 *ngIf="horaFinalSeleccionada">Usted ha seleccionado el día {{horaFinalSeleccionada.FechaCompleta}} a las {{horaFinalSeleccionada.FechaCorta}} </h3>
          <h3 *ngIf="!horaFinalSeleccionada">No hay Hora seleccionada</h3>
      </ion-card-content>
    
    </ion-card>
  <ion-list>
    
      <button ion-item *ngFor="let item of mesaSeleccionada.Horas" (click)="presentModal(item)">
          {{item.FechaStr}} <ion-badge color="success" style="float: right;">{{item.CantidadCupos}} de {{item.Segmento.length}}</ion-badge>
          <!--
          <ion-badge *ngIf="item.Mostrar"> {{horaFinalSeleccionada.FechaStr}}</ion-badge>
          
          <ion-list *ngIf="item.Mostrar" no-lines style="margin: 0;">
            <ion-item *ngFor="let seg of item.Segmento" [hidden]="!seg.Reservada">
              <ion-badge *ngIf="seg.Reservada"> {{seg.FechaStr}}</ion-badge>

            </ion-item>
          </ion-list>-->
      </button>  
    </ion-list>
<!--
    <ion-list>
        <ion-item *ngFor="let item of mesaSeleccionada.Horas">
          <h2>{{item.FechaStr}}</h2>
          <ion-item *ngFor="let seg of item.Segmento">
              {{seg.FechaStr}} <ion-radio [value]="seg.Id" [disabled]="seg.Reservada" (click)="seleccionarHora(seg)"></ion-radio>
          </ion-item>
        </ion-item>
    </ion-list>-->
    <!--
  <ion-list radio-group>
      <ion-list-header>
        Días Disponibles
      </ion-list-header>
    
      <ion-item *ngFor="let item of mesaSeleccionada.Horas">
        <ion-label><strong>{{item.FechaStr}}</strong></ion-label>
        <ion-radio [value]="item.Id" [disabled]="item.Reservada" (click)="presentModal(item)"></ion-radio>
      
        <ion-item *ngFor="let seg of item.Segmento">
          <p *ngIf="seg.Reservada">
            {{seg.FechaStr}}
          </p>
        </ion-item>
      </ion-item>

    </ion-list>
-->

    <ion-item no-lines style="margin-top:3%">
        <ion-col>
            <button ion-button color="secondary" (click)="closeModal(null)" clear>Cancelar</button>
        </ion-col>
        <ion-col>
            <button  style="float: right;" ion-button color="primary" (click)="guardar()" clear>Reservar</button>
        </ion-col>
    </ion-item>

</ion-content>
