<ion-header style="background-color: #488aff; color: white;">
    <ion-navbar>
      <ion-title>
        Selección
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
      <!--lista bakan -->
      <h1>Restaurantes disponibles</h1>
      <p>Bienvenido <strong>{{nombrePersona}}</strong> acá podrás elegir tu restaurant favorito para agendar Mesa.</p>
      <ion-list>
          <!--<ion-item-sliding *ngFor="let item of arrRestaurantes">-->
          <button ion-item  *ngFor="let item of arrRestaurantes" (click)="abrirReserva(item)">
            <ion-avatar item-start>
                <img [src]="item.Foto">
            </ion-avatar>
            <h2>{{ item.Nombre }}</h2>
            <p text-wrap>{{item.Direccion}}</p>
            <p text-wrap><strong>{{item.Tipo}}</strong></p>
            <p text-wrap><strong>{{item.Menus.length}} menús disponibles</strong></p>
            <ion-item no-lines style="padding: 0;">
                <ion-badge item-end>Horas Disponibles: {{item.HorasDisponibles}}</ion-badge>
                <ion-badge color="danger" item-end>Horas Ocupadas: {{item.HorasReservadas}}</ion-badge>
            </ion-item>

            <!--<ion-note class="note">Deslize a la izquierda para ver las opciones</ion-note>-->
          </button>
          <!--
          <ion-item-options side="right">
              <button ion-button color="primary" (click)="abrirReserva(item)">
                <ion-icon name="checkbox"></ion-icon>
                Reservar
              </button>
          </ion-item-options>
          
        </ion-item-sliding>-->
        </ion-list>
        <ion-item no-lines style="margin-top:3%">
            <ion-col>
                <button ion-button color="secondary" (click)="volver()" clear>Cancelar</button>
            </ion-col>
            <ion-col>
                <!--<button  style="float: right;" ion-button color="primary" (click)="registrarse()" clear>Guardar</button>-->
            </ion-col>
        </ion-item>

</ion-content>
