USE [RAYEN]
GO
/****** Object:  StoredProcedure [dbo].[AGW0006]    Script Date: 24-05-2018 8:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/************************************************************************
NOMBRE DEL PROCEDIMIENTO: AGW0006
AUTOR: Gonzalo Carrasco
FECHA DE CREACIÓN: 08/04/2016
BASE DE DATOS: AGENDAWEB
OBJETIVO: Obtiene datos de una cita
FECHA DE MODIFICACIÓN: 04/05/2016
USUARIO DE MODIFICACIÓN: Francisco Poblete
MOTIVO DE MODIFICACIÓN: Se agrega codigo de area y pais
FECHA DE MODIFICACIÓN: 20/03/2017
USUARIO DE MODIFICACIÓN: VICTOR CORONADO
MOTIVO DE MODIFICACIÓN: SE MODIFICA PARA TRAER EL INSTRUMENTO Y NO LA ESPECIALIDAD
USUARIO DE MODIFICACIÓN: Víctor Coronado
MOTIVO DE MODIFICACIÓN: Se agrega la condicion de eliminado = 0 en TUS_TELEFONO_USUARIO
FECHA DE MODIFICACIÓN: 24/05/2018
VISADO POR (QA): 
FECHA APROBACIÓN QA: 
COMENTARIOS QA: 
VISADO POR (DBA): 
FECHA APROBACIÓN DBA: 
COMENTARIOS DBA: 
TABLAS INVOLUCRADAS: USP_USUARIO_APS, CIT_CITA, TDA_TIPO_DE_ATENCION, NOD_NODO, FNP_FUNCIONARIO_PRESTADOR
CPO_CUPO, SGH_SEGMENTOS_HORARIOS, ESP_ESPECIALIDAD
***********************************************************************/

ALTER procedure [dbo].[AGW0006]    
(    
 @ID_CITA INT  
)    
AS    
BEGIN    
SELECT      
 cit.ID AS ID_CITA,    
 TAW.NOMBRE AS TIPO_ATENCION,    
 CONVERT(varchar(8),CIT.FECHA_HORA_INICIO,112) AS FECHA_CITA,    
 CONVERT(varchar(5),CIT.FECHA_HORA_INICIO,108) AS HORA_CITA,    
 NOD.ID AS ID_ESTABLECIMIENTO,    
 NOD.DESCRIPCION AS NOMBRE_ESTABLECIMIENTO,       
 FNP.ID AS ID_PROFESIONAL,    
 RTRIM (FNP.NOMBRES) + ' ' + FNP.APELLIDO_PATERNO  AS NOMBRE_PROFESIONAL,          
 USP.ID AS ID_PACIENTE,
 USP.RUT AS RUT_PACIENTE,    
 USP.NOMBRES + ' ' + USP.APELLIDO_PATERNO + ' ' + USP.APELLIDO_MATERNO AS NOMBRE_PACIENTE,      
 USP.EMAIL AS EMAIL,
(SELECT TOP 1  
      ( convert(varchar(max), [CODIGO_AREA]) + '' + convert(varchar(max), [TELEFONO_DESCRIPCION]) ) TELEFONO_DESCRIPCION
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR' and ELIMINADO = 0) AS TEL1_CONTACTO,
(SELECT TOP 1  
      [CODIGO_PAIS]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR' and ELIMINADO = 0) AS TEL1_CODIGO_PAIS,
(SELECT TOP 1  
      [CODIGO_AREA]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR' and ELIMINADO = 0) AS TEL1_CODIGO_AREA,
(SELECT TOP 1  
     ( convert(varchar(max), [CODIGO_AREA]) + '' + convert(varchar(max), [TELEFONO_DESCRIPCION]) ) TELEFONO_DESCRIPCION
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'MOVIL_FICHA_FAMILIAR' and ELIMINADO = 0) AS MOVIL_CONTACTO  
          ,
(SELECT TOP 1  
      [TELEFONO_DESCRIPCION]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR' and ELIMINADO = 0) AS TEL1_FICHA_FAMILIAR  
            ,
(SELECT TOP 1  
      [TELEFONO_DESCRIPCION]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'MOVIL_FICHA_FAMILIAR' and ELIMINADO = 0) AS MOVIL_FICHA_FAMILIAR,
 --ESP.ID  AS ID_ESPECIALIDAD,
 --ESP.NOMBRE AS ESPECIALIDAD
 inst.ID  AS ID_ESPECIALIDAD,
 inst.NOMBRE AS ESPECIALIDAD
     
FROM RAYEN..USP_USUARIO_APS USP    
 INNER JOIN RAYEN..CIT_CITA CIT ON cit.USP_ID=usp.ID AND CIT.ID = @ID_CITA
  INNER JOIN RAYEN..CPO_CUPO CPO ON CPO.CIT_ID = cit.ID
 INNER JOIN RAYEN..SGH_SEGMENTOS_HORARIOS SEG ON SEG.ID = CPO.SGH_ID 
 INNER JOIN RAYEN..TAW_TIPO_ATENCION_WEB TAW ON TAW.ID=SEG.TAW_ID  
 INNER JOIN RAYEN..NOD_NODO NOD ON NOD.ID=cit.NOD_ID      
 INNER JOIN RAYEN..FNP_FUNCIONARIO_PRESTADOR FNP ON FNP.ID=cit.FNP_ID_ATEN    
 INNER JOIN RAYEN..ESP_ESPECIALIDAD ESP ON ESP.ID = SEG.ESP_ID
 inner join rayen..INS_INSTRUMENTO inst on inst.ID = CIT.INS_ID  
WHERE     
 cit.ELIMINADO=0     
 AND cit.ESANULADO=0     
 AND cit.ES_RECHAZADO=0     
 AND cit.ETC_ID=3     
 --AND CIT.FECHA_HORA_INICIO >= DATEADD(month, -3, GETDATE())
    
END

