USE [RAYEN]
GO
/****** Object:  StoredProcedure [dbo].[AGW0013]    Script Date: 24-05-2018 9:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/************************************************************************
NOMBRE DEL PROCEDIMIENTO: AGW0013
AUTOR: Gonzalo Carrasco
FECHA DE CREACIÓN: 29/03/2016
BASE DE DATOS: AGENDAWEB
OBJETIVO: ENTREGA UN PACIENTE MEDIANTE EL RUT Y FECHA DE NACIMIENTO
FECHA DE MODIFICACIÓN: 04-04-2017
USUARIO DE MODIFICACIÓN:  VICTOR CORONADO
MOTIVO DE MODIFICACIÓN: SE AGREGA PARAMETRO FECHA NACIMIENTO
FECHA DE MODIFICACIÓN: 16-03-2018
USUARIO DE MODIFICACIÓN:  VICTOR CORONADO
MOTIVO DE MODIFICACIÓN: SE OPCION PARA VERIFICAR SI VIENE LA FECHA DE NACIMIENTO O NO
VISADO POR (QA): 
FECHA APROBACIÓN QA: 
COMENTARIOS QA: 
VISADO POR (DBA): 
FECHA APROBACIÓN DBA: 
COMENTARIOS DBA: 
TABLAS INVOLUCRADAS: USP_USUARIO_PAS, PRA_PARAMETROS_RAYEN, USN_USUARIO_NODO, NOD_NODO TUS_TELEFONO_USUARIO
************************************************************************/

ALTER PROCEDURE [dbo].[AGW0013]    
(    
@RUT VARCHAR(100) = '',    
@NOMBRES VARCHAR(MAX),    
@AP_PATERNO VARCHAR(MAX),    
@AP_MATERNO VARCHAR(MAX),
@FECHA_NACIMIENTO VARCHAR(100)=''    
)    
AS    
BEGIN    
    
DECLARE @WNOMBRES VARCHAR(MAX),    
@WAP_PATERNO VARCHAR(MAX),    
@WAP_MATERNO VARCHAR(MAX),    
@QUERY VARCHAR(MAX)    
    
SET @WNOMBRES = 'UPPER(NOMBRES) LIKE UPPER(' + Char(39) + @NOMBRES+'%' + Char(39)+ ')'    
SET @WAP_MATERNO = 'AND UPPER(APELLIDO_PATERNO) LIKE UPPER(' + Char(39) + @AP_PATERNO + Char(39)+ ')'    
SET @WAP_PATERNO = 'AND UPPER(APELLIDO_MATERNO) LIKE UPPER(' + Char(39) + @AP_MATERNO + Char(39)+ ')'    
    
    
IF ( @RUT = NULL ) OR (@RUT = '')    
BEGIN    
    
SET @QUERY = N'SELECT top 10 [ID]    
      ,[NOD_ID]    
      ,[RUT]    
      ,[NOMBRES]    
      ,[APELLIDO_PATERNO]    
      ,[APELLIDO_MATERNO]    
      ,[ACTIVO]    
      ,[ELIMINADO]  
      ,[EMAIL]    
  FROM [dbo].[USP_USUARIO_APS]    
  where ' +  @WNOMBRES +  @WAP_MATERNO + @WAP_PATERNO    
    
EXEC (@QUERY)    
    
END    
ELSE    
BEGIN    
	IF ( @FECHA_NACIMIENTO = NULL ) OR (@FECHA_NACIMIENTO = '')    
	BEGIN  
			SELECT USP.[ID]    
			  ,USP.[NOD_ID]    
			  ,NOD.DESCRIPCION AS NODO  
			  ,USP.[RUT]    
			  ,USP.[NOMBRES]    
			  ,USP.[APELLIDO_PATERNO]    
			  ,USP.[APELLIDO_MATERNO]    
			  ,USP.[ACTIVO]    
			  ,USP.[ELIMINADO]   
			  ,USP.[EMAIL]  
			  ,(SELECT TOP 1  
			  (convert(varchar(max), [CODIGO_AREA]) + '' + convert(varchar(max), [TELEFONO_DESCRIPCION]))  
		  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR') AS TEL1_CONTACTO
			,(SELECT TOP 1  
			  [CODIGO_AREA]  
		  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR') AS TEL1_CODIGO_AREA
				,(SELECT TOP 1  
			  (convert(varchar(max), [CODIGO_AREA]) + '' + convert(varchar(max), [TELEFONO_DESCRIPCION]))
		  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'MOVIL_FICHA_FAMILIAR') AS MOVIL_CONTACTO
				  ,(SELECT TOP 1  
			  [TELEFONO_DESCRIPCION]  
		  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR') AS TEL1_FICHA_FAMILIAR  
					,(SELECT TOP 1  
			  [TELEFONO_DESCRIPCION]  
		  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'MOVIL_FICHA_FAMILIAR') AS MOVIL_FICHA_FAMILIAR ,
		  USP.FECHA_DE_NACIMIENTO 
		  FROM [dbo].[USP_USUARIO_APS] USP with (nolock)   
		  INNER JOIN USN_USUARIO_NODO USN with (nolock) ON USN.USP_ID=USP.ID
		  INNER JOIN NOD_NODO NOD with (nolock) ON NOD.ID = USN.NOD_ID  AND USN.ACTIVO=1 AND USN.ELIMINADO=0  AND USN.ES_INSCRITO=1
		  INNER JOIN PRA_PARAMETROS_RAYEN PRA with (nolock)  ON PRA.NOD_ID=USN.NOD_ID  
		  where UPPER(RUT) = UPPER(@RUT) and usp.ELIMINADO=0 AND PRA.DESCRIPCION = 'DISPONIBILIZA_AGENDA_WEB' AND PRA.ELIMINADO = 0 AND PRA.VALOR = 1
		  --AND CONVERT(VARCHAR, USP.FECHA_DE_NACIMIENTO, 112) = convert(varchar, convert(DATE, @FECHA_NACIMIENTO, 103), 112)
	END
	ELSE
	BEGIN

		SELECT USP.[ID]    
      ,USP.[NOD_ID]    
      ,NOD.DESCRIPCION AS NODO  
      ,USP.[RUT]    
      ,USP.[NOMBRES]    
      ,USP.[APELLIDO_PATERNO]    
      ,USP.[APELLIDO_MATERNO]    
      ,USP.[ACTIVO]    
      ,USP.[ELIMINADO]   
      ,USP.[EMAIL]  
      ,(SELECT TOP 1  
      (convert(varchar(max), [CODIGO_AREA]) + '' + convert(varchar(max), [TELEFONO_DESCRIPCION]))  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR') AS TEL1_CONTACTO
    ,(SELECT TOP 1  
      [CODIGO_AREA]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR') AS TEL1_CODIGO_AREA
        ,(SELECT TOP 1  
      (convert(varchar(max), [CODIGO_AREA]) + '' + convert(varchar(max), [TELEFONO_DESCRIPCION]))
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'MOVIL_FICHA_FAMILIAR') AS MOVIL_CONTACTO
          ,(SELECT TOP 1  
      [TELEFONO_DESCRIPCION]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR') AS TEL1_FICHA_FAMILIAR  
            ,(SELECT TOP 1  
      [TELEFONO_DESCRIPCION]  
  FROM [RAYEN].[dbo].[TUS_TELEFONO_USUARIO] with (nolock) where USP_ID = USP.ID AND ETIQUETA_TELEFONO = 'MOVIL_FICHA_FAMILIAR') AS MOVIL_FICHA_FAMILIAR ,
  USP.FECHA_DE_NACIMIENTO 
  FROM [dbo].[USP_USUARIO_APS] USP with (nolock)   
  INNER JOIN USN_USUARIO_NODO USN with (nolock) ON USN.USP_ID=USP.ID
  INNER JOIN NOD_NODO NOD with (nolock) ON NOD.ID = USN.NOD_ID  AND USN.ACTIVO=1 AND USN.ELIMINADO=0  AND USN.ES_INSCRITO=1
  INNER JOIN PRA_PARAMETROS_RAYEN PRA with (nolock)  ON PRA.NOD_ID=USN.NOD_ID  
  where UPPER(RUT) = UPPER(@RUT) and usp.ELIMINADO=0 AND PRA.DESCRIPCION = 'DISPONIBILIZA_AGENDA_WEB' AND PRA.ELIMINADO = 0 AND PRA.VALOR = 1
  AND CONVERT(VARCHAR, USP.FECHA_DE_NACIMIENTO, 112) = convert(varchar, convert(DATE, @FECHA_NACIMIENTO, 103), 112)
	END
END    
END
