USE [RAYEN]
GO
/****** Object:  StoredProcedure [dbo].[AGW0001]    Script Date: 23-05-2018 15:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/************************************************************************
NOMBRE DEL PROCEDIMIENTO: AGW0001
AUTOR: Gonzalo Carrasco
FECHA DE CREACIÓN: 08/04/2016
BASE DE DATOS: AGENDAWEB
OBJETIVO: Actualiza los emails o telefonos asociados a un paciente
FECHA DE MODIFICACIÓN: 02/05/2016
USUARIO DE MODIFICACIÓN: Francisco Poblete
MOTIVO DE MODIFICACIÓN: Se agregó codigo de area y pais
VISADO POR (QA): 
FECHA APROBACIÓN QA: 
COMENTARIOS QA: 
VISADO POR (DBA): 
FECHA APROBACIÓN DBA: 
COMENTARIOS DBA: 
TABLAS INVOLUCRADAS: USP_USUARIO_APS, TUS_TELEFONO_USUARIO
***********************************************************************/

ALTER PROCEDURE [dbo].[AGW0001]  
(   
 @ID_PACIENTE INT,     
 @EMAIL VARCHAR(MAX),       
 @TELEFONO_DESCRIPCION VARCHAR(MAX),
 @ETIQUETA_TELEFONO VARCHAR(MAX),
 @CODIGO_PAIS INT,
 @CODIGO_AREA INT
)  
AS  
BEGIN  



 --para probar el sp
DECLARE @TELEFONO varchar(20);
DECLARE @CODIGOAREA INT;
DECLARE @TIPO_TELEFONO INT;
--AHORA NOS DA LO MISMO SI VIENE O NO EMAIL, YA QUE AGENDA NO LO REQUIERE
--ACTUALIZAMOS USP IGUAL
UPDATE [dbo].[USP_USUARIO_APS] SET EMAIL = @EMAIL WHERE ID = @ID_PACIENTE
--AHORA COMENZAMOS CON UN MANEJO MAS ELABORADO DE LOS TELEFONOS

	IF (@ETIQUETA_TELEFONO = 'TEL1_FICHA_FAMILIAR')
	BEGIN
		declare @largo int
		set @largo = (select LEN(@TELEFONO_DESCRIPCION))
		--TIPO 1
		SET @TIPO_TELEFONO = 1
		if @largo > 1
		--IF @TELEFONO_DESCRIPCION <> ''
		BEGIN
			--SI ES UN TELEFONO FIJO, DEBEMOS HACER ALGUNAS OPERACIONES
			IF ( CONVERT( INTEGER, SUBSTRING(@telefono_descripcion, 1, 1) ) = 2)
			BEGIN
			  SET @TELEFONO = SUBSTRING(@TELEFONO_DESCRIPCION,2, LEN(@TELEFONO_DESCRIPCION) - 1);
			  SET @CODIGOAREA = CONVERT(INTEGER, SUBSTRING(@TELEFONO_DESCRIPCION,1,1));
			END
			IF (CONVERT(INTEGER,SUBSTRING(@TELEFONO_DESCRIPCION, 1, 1)) <> 2)
			BEGIN
			  SET @TELEFONO = SUBSTRING(@TELEFONO_DESCRIPCION,3,LEN(@TELEFONO_DESCRIPCION)-1);
			  SET @CODIGOAREA = CONVERT(INTEGER, SUBSTRING(@TELEFONO_DESCRIPCION,1,2));
			END
			--revisamos si existe o no, ya esta controlado si esta vacio
			IF EXISTS (SELECT ID FROM TUS_TELEFONO_USUARIO WHERE USP_ID = @ID_PACIENTE AND ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO AND ELIMINADO = 0)
			BEGIN 
				-- si existe
				print 'si existe, se actualiza'
				UPDATE [dbo].[TUS_TELEFONO_USUARIO] 
				  SET TELEFONO_DESCRIPCION = @TELEFONO, 
					CODIGO_PAIS = @CODIGO_PAIS, 
					CODIGO_AREA = @CODIGOAREA, 
					FECHA_HORA_SERVIDOR_ENTERA = (convert(bigint,year(GETDATE()))*10000000000+month(GETDATE())*100000000+day(GETDATE())*1000000+DATEPART(HOUR, GETDATE())*10000+DATEPART(MINUTE, GETDATE())*100+DATEPART(SECOND, GETDATE())), 
					FECHA_HORA_SERVIDOR = GETDATE() 
				  WHERE USP_ID = @ID_PACIENTE AND 
					ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO
			END
			ELSE
			BEGIN
				PRINT 'NO EXISTE SE INSERTA'
				INSERT INTO [dbo].[TUS_TELEFONO_USUARIO]    
					([TELEFONO_DESCRIPCION]    
					,[TIPO_TELEFONO]    
					,[ETIQUETA_TELEFONO]    
					,[USP_ID]    
					,[ELIMINADO]    
					,[CODIGO_PAIS]    
					,[CODIGO_AREA]
					,[FECHA_HORA_SERVIDOR]
					,[FECHA_HORA_SERVIDOR_ENTERA])    
				VALUES    
					(@TELEFONO    
					,@TIPO_TELEFONO    
					,@ETIQUETA_TELEFONO    
					,@ID_PACIENTE    
					,0    
					,@CODIGO_PAIS    
					,@CODIGOAREA
					,GETDATE()
					,(convert(bigint,year(GETDATE()))*10000000000+month(GETDATE())*100000000+day(GETDATE())*1000000+DATEPART(HOUR, GETDATE())*10000+DATEPART(MINUTE, GETDATE())*100+DATEPART(SECOND, GETDATE())))
			END

		END
		ELSE
		BEGIN
			--AHORA SI ESTA VACIO DEBE SER ACTUALIZADO A ELIMINADO 1 CUANDO EXISTA
			SET @CODIGO_AREA = 0
			SET @CODIGO_PAIS = 0
			SET @TELEFONO = ''
			IF EXISTS (SELECT ID FROM TUS_TELEFONO_USUARIO WHERE USP_ID = @ID_PACIENTE AND ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO AND ELIMINADO = 0)
			BEGIN 
				-- si existe
				print 'si existe, se actualiza'
				UPDATE [dbo].[TUS_TELEFONO_USUARIO] 
				  SET
					ELIMINADO = 1, 
					TELEFONO_DESCRIPCION = @TELEFONO, 
					CODIGO_PAIS = @CODIGO_PAIS, 
					CODIGO_AREA = @CODIGOAREA, 
					FECHA_HORA_SERVIDOR_ENTERA = (convert(bigint,year(GETDATE()))*10000000000+month(GETDATE())*100000000+day(GETDATE())*1000000+DATEPART(HOUR, GETDATE())*10000+DATEPART(MINUTE, GETDATE())*100+DATEPART(SECOND, GETDATE())), 
					FECHA_HORA_SERVIDOR = GETDATE() 
				  WHERE USP_ID = @ID_PACIENTE AND 
					ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO
			END

		END
	END
	
	ELSE
	BEGIN
		--TIPO 4
		SET @TIPO_TELEFONO = 4
		set @CODIGOAREA = 9
		IF ((@TELEFONO_DESCRIPCION <> '') and (@TELEFONO_DESCRIPCION <> '0'))
		BEGIN
			--VIENE UN TELEFONO DISTITNTO DE VACIO Y CERO POR LO TANTO SE DEBE
			--EVALUAR CUANDO EXISTA O NO
			SET @TELEFONO = CONVERT(INTEGER, SUBSTRING(@TELEFONO_DESCRIPCION,2,8))
			IF EXISTS (SELECT ID FROM TUS_TELEFONO_USUARIO WHERE USP_ID = @ID_PACIENTE AND ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO AND ELIMINADO = 0)
			BEGIN 
				-- si existe
				print 'si existe, se actualiza'
				UPDATE [dbo].[TUS_TELEFONO_USUARIO] 
				  SET TELEFONO_DESCRIPCION = @TELEFONO, 
					CODIGO_PAIS = @CODIGO_PAIS, 
					CODIGO_AREA = @CODIGOAREA, 
					FECHA_HORA_SERVIDOR_ENTERA = (convert(bigint,year(GETDATE()))*10000000000+month(GETDATE())*100000000+day(GETDATE())*1000000+DATEPART(HOUR, GETDATE())*10000+DATEPART(MINUTE, GETDATE())*100+DATEPART(SECOND, GETDATE())), 
					FECHA_HORA_SERVIDOR = GETDATE() 
				  WHERE USP_ID = @ID_PACIENTE AND 
					ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO
			END
			ELSE
			BEGIN
				PRINT 'NO EXISTE SE INSERTA'
				INSERT INTO [dbo].[TUS_TELEFONO_USUARIO]    
					([TELEFONO_DESCRIPCION]    
					,[TIPO_TELEFONO]    
					,[ETIQUETA_TELEFONO]    
					,[USP_ID]    
					,[ELIMINADO]    
					,[CODIGO_PAIS]    
					,[CODIGO_AREA]
					,[FECHA_HORA_SERVIDOR]
					,[FECHA_HORA_SERVIDOR_ENTERA])    
				VALUES    
					(@TELEFONO    
					,@TIPO_TELEFONO    
					,@ETIQUETA_TELEFONO    
					,@ID_PACIENTE    
					,0    
					,@CODIGO_PAIS    
					,@CODIGOAREA
					,GETDATE()
					,(convert(bigint,year(GETDATE()))*10000000000+month(GETDATE())*100000000+day(GETDATE())*1000000+DATEPART(HOUR, GETDATE())*10000+DATEPART(MINUTE, GETDATE())*100+DATEPART(SECOND, GETDATE())))
			END

		END
		ELSE
		BEGIN
			SET @CODIGO_PAIS = 0
			SET @TELEFONO =''
			IF EXISTS (SELECT ID FROM TUS_TELEFONO_USUARIO WHERE USP_ID = @ID_PACIENTE AND ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO AND ELIMINADO = 0)
			BEGIN 
				-- si existe
				print 'si existe, se actualiza'
				UPDATE [dbo].[TUS_TELEFONO_USUARIO] 
				  SET
					ELIMINADO = 1, 
					TELEFONO_DESCRIPCION = @TELEFONO, 
					CODIGO_PAIS = @CODIGO_PAIS, 
					CODIGO_AREA = @CODIGOAREA, 
					FECHA_HORA_SERVIDOR_ENTERA = (convert(bigint,year(GETDATE()))*10000000000+month(GETDATE())*100000000+day(GETDATE())*1000000+DATEPART(HOUR, GETDATE())*10000+DATEPART(MINUTE, GETDATE())*100+DATEPART(SECOND, GETDATE())), 
					FECHA_HORA_SERVIDOR = GETDATE() 
				  WHERE USP_ID = @ID_PACIENTE AND 
					ETIQUETA_TELEFONO = @ETIQUETA_TELEFONO
			END
			
		END
	END

END





