USE [BDWebLun]
GO
/****** Object:  StoredProcedure [dbo].[ENCO0001]    Script Date: 05-07-2018 14:20:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************
NOMBRE DEL PROCEDIMIENTO: ENCO0001
AUTOR: Victor Coronado
FECHA DE CREACIÓN: 06/06/2018
BASE DE DATOS: BDWEBLUN
OBJETIVO: ACTUALIZA UN ELEMENTO EN LA TABLA ENCO_ENTIDAD_CONTRATANTE Y REBALSE LUN
FECHA DE MODIFICACIÓN: 
USUARIO DE MODIFICACIÓN: 
MOTIVO DE MODIFICACIÓN: 
VISADO POR (QA): 
FECHA APROBACIÓN QA: 
COMENTARIOS QA: 
VISADO POR (DBA): 
FECHA APROBACIÓN DBA: 
COMENTARIOS DBA: 
TABLAS INVOLUCRADAS: ENCO_ENTIDAD_CONTRATANTE, RLUN_REBALSE_LUN
***********************************************************************/


ALTER procedure [dbo].[ENCO0001]
(
       @EMPLEADOR varchar(250),
       @ID_TIPO_CONTRATO INT,
       @ID_REGION INT,
       @ID_COMUNA INT,
	   @ID_ECOL INT,
	   @DIRECCION VARCHAR(500),
	   @NUMERO VARCHAR(50),
	   @RESTO_DIRECCION VARCHAR(500),
	   @SOBRECUPO INT,
	   @TOTAL_LICENCIAS INT,
	   @CANTIDAD_AVISO INT
)
AS
BEGIN

	--PRIMERO ACTUALIZAMOS LOS REGISTROS EN ENCO
	UPDATE 
		ENCO_ENTIDAD_CONTRATANTE_LUN SET
		RAZON_SOCIAL = @EMPLEADOR,
		TIPO_CONTRATANTE = @ID_TIPO_CONTRATO,
		REG_ID = @ID_REGION,
		COM_ID = @ID_COMUNA,
		DIRECCION = @DIRECCION,
		NUMERO_DIRECCION = @NUMERO,
		RESTO_DIRECCION = @RESTO_DIRECCION,
		CANTIDAD_AVISO = @CANTIDAD_AVISO
	WHERE
		ID = @ID_ECOL

	UPDATE
		RLUN_REBALSE_LUN SET
		SOBRECUPO_INICIAL = @SOBRECUPO,
		TOTAL_LICENCIAS_INICIAL = @TOTAL_LICENCIAS
	WHERE
		ECOL_ID = @ID_ECOL

END
