USE [RAYEN]
GO
/****** Object:  StoredProcedure [dbo].[AGW0015]    Script Date: 24-04-2018 15:38:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************
NOMBRE DEL PROCEDIMIENTO: AGW0015
AUTOR: Gonzalo Carrasco
FECHA DE CREACIÓN: 15/04/2016
BASE DE DATOS: AGENDAWEB
OBJETIVO: Valida datos del paciente asociados a una cita
FECHA DE MODIFICACIÓN: 19/04/2018
USUARIO DE MODIFICACIÓN:  victor coronado
MOTIVO DE MODIFICACIÓN: Faltaba validar cuando la cita estaba anulada, para que pueda obtener la informacion de la cita, req. 159569
VISADO POR (QA): 
FECHA APROBACIÓN QA: 
COMENTARIOS QA: 
VISADO POR (DBA): 
FECHA APROBACIÓN DBA: 
COMENTARIOS DBA: 
TABLAS INVOLUCRADAS: CIT_CITA, USP_USUARIO_APS, CPO_CUPO, SGH_SEGMENTOS_HORARIOS, ESP_ESPECIALIDAD,
FNP_FUNCIONARIO_PRESTADOR, NOD_NODO, TDA_TIPO_DE_ATENCION
***********************************************************************/

ALTER PROCEDURE [dbo].[AGW0015]      
(       
 @ID_PACIENTE INT,         
 @RUT_PACIENTE VARCHAR(1000),           
 @ID_CITA INT,      
 @RESPUESTA INT OUTPUT,    
 @FECHA_CITA DATETIME OUTPUT,
 @FECHA_TERMINO DATETIME OUTPUT,    
 @ESPECIALIDAD_CITA VARCHAR(1000) OUTPUT,     
 @MEDICO VARCHAR(1000) OUTPUT,    
 @NODO VARCHAR(1000) OUTPUT,  
 @TIPO_ATENCION VARCHAR(1000) OUTPUT,
 --AGREGADO POR V.C.
 @INSTRUMENTO VARCHAR(1000) OUTPUT,
 @EMAIL VARCHAR(MAX) OUTPUT  
         
    
)      
AS      
BEGIN     
    
DECLARE @ESTADO_CITA INT
    
SET @FECHA_CITA = NULL;
SET @FECHA_TERMINO = NULL;
SET @ESPECIALIDAD_CITA = '';    
SET @MEDICO = '';    
SET @NODO = '';   
SET @TIPO_ATENCION = '';   
      
IF NOT EXISTS (SELECT [ID] FROM [RAYEN].[dbo].[USP_USUARIO_APS] WHERE ID = @ID_PACIENTE AND RUT = @RUT_PACIENTE)    
BEGIN    
    
SET @RESPUESTA = 1;    
    
END    
ELSE    
BEGIN    
 IF NOT EXISTS (SELECT ID FROM [dbo].[CIT_CITA] where ID = @ID_CITA AND ETC_ID = 3)    
 BEGIN    
     --esto es para verificar la anulación ya que debe enviarse el correo y esto no permite hacerlo
	 if exists (SELECT ID FROM [dbo].[CIT_CITA] where ID = @ID_CITA AND ETC_ID = 6)
	 begin

		SET @RESPUESTA = 1;
		 SELECT  @EMAIL = EMAIL FROM USP_USUARIO_APS WHERE ID =  @ID_PACIENTE
		 SELECT @FECHA_CITA = CIT.FECHA_HORA_INICIO, @FECHA_TERMINO = CIT.FECHA_HORA_TERMINO, @ESPECIALIDAD_CITA = ESP.NOMBRE, @MEDICO = FNP.NOMBRES + ' ' + FNP.APELLIDO_PATERNO, @NODO = NOD.DESCRIPCION, @TIPO_ATENCION = TAW.NOMBRE, @INSTRUMENTO = INS.NOMBRE  FROM [dbo].[CIT_CITA] CIT    
		 --INNER JOIN CPO_CUPO CPO ON  CPO.CIT_ID = CIT.ID    
		 INNER JOIN SGH_SEGMENTOS_HORARIOS SEG ON SEG.ID = cit.sgh_id_perteneciente    
		 INNER JOIN ESP_ESPECIALIDAD ESP ON ESP.ID = SEG.ESP_ID    
		 INNER JOIN FNP_FUNCIONARIO_PRESTADOR FNP ON FNP.ID = SEG.FNP_ID    
		 INNER JOIN NOD_NODO NOD ON NOD.ID = SEG.NOD_ID
		 inner join INS_INSTRUMENTO INS ON INS.ID = SEG.INS_ID 
		 INNER JOIN TAW_TIPO_ATENCION_WEB TAW ON TAW.ID = SEG.TAW_ID  
		 where CIT.ID = @ID_CITA-- AND CIT.ETC_ID = 6   


	 end 
	 else
	 begin
		SET @RESPUESTA = 0;    
	  end
    
 END    
 ELSE    
 BEGIN    

 SET @RESPUESTA = 1    
    
 SELECT  @EMAIL = EMAIL FROM USP_USUARIO_APS WHERE ID =  @ID_PACIENTE
 SELECT @FECHA_CITA = CIT.FECHA_HORA_INICIO, @FECHA_TERMINO = CIT.FECHA_HORA_TERMINO, @ESPECIALIDAD_CITA = ESP.NOMBRE, @MEDICO = FNP.NOMBRES + ' ' + FNP.APELLIDO_PATERNO, @NODO = NOD.DESCRIPCION, @TIPO_ATENCION = TAW.NOMBRE, @INSTRUMENTO = INS.NOMBRE  FROM [dbo].[CIT_CITA] CIT    
 INNER JOIN CPO_CUPO CPO ON  CPO.CIT_ID = CIT.ID    
 INNER JOIN SGH_SEGMENTOS_HORARIOS SEG ON SEG.ID = CPO.SGH_ID    
 INNER JOIN ESP_ESPECIALIDAD ESP ON ESP.ID = SEG.ESP_ID    
 INNER JOIN FNP_FUNCIONARIO_PRESTADOR FNP ON FNP.ID = SEG.FNP_ID    
 INNER JOIN NOD_NODO NOD ON NOD.ID = SEG.NOD_ID
 inner join INS_INSTRUMENTO INS ON INS.ID = SEG.INS_ID 
 INNER JOIN TAW_TIPO_ATENCION_WEB TAW ON TAW.ID = SEG.TAW_ID  
 where CIT.ID = @ID_CITA AND CIT.ETC_ID = 3    
     
 END    
    
END    
    
SELECT @RESPUESTA AS RESPUESTA    
SELECT @FECHA_CITA AS FECHA_CITA 
SELECT @FECHA_TERMINO AS FECHA_TERMINO
SELECT @ESPECIALIDAD_CITA  AS ESPECIALIDAD_CITA    
SELECT @MEDICO AS MEDICO    
SELECT @NODO AS NODO    
SELECT @TIPO_ATENCION AS TIPO_ATENCION  
SELECT @EMAIL AS EMAIL
SELECT @INSTRUMENTO AS INSTRUMENTO
    
END